<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Data Navigation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
 <ion-button expand="full" (click)="openDetailsWithQueryParams()">Navigation with Query Params</ion-button>
 <ion-button expand="full" (click)="openDetailsWithService()">Navigation with Service</ion-button>
 <ion-button expand="full" (click)="openDetailsWithState()">Navigation with State</ion-button><br>
 <ion-button expand="full" (click)="openDetailsWithObject()">Navigation with Object</ion-button>
 <ion-button expand="full" routerLink="/details" [queryParams]="{category:'test', filter:'framework'}">Navigation with param</ion-button>
 <ion-button expand="full" routerLink="/details" [state]="{user: {id:1, name:'Ketan', surname:'Nakum'}}">Navigation with state</ion-button>
</ion-content>
